section.footer-info{
	padding:60px 0;
	background:#149fda;
	.information-social{
		margin:0;
		img{
			padding-bottom:15px;
		}
		ul{
			margin:0;
			padding:0;
			li{
				display:inline-block;
				margin: 0;
				padding:0 10px 0 0;
				cursor: pointer;
			}
			li:before{
				display:none;
			}
		}
	}
	.footer-menu-new{
		margin:0;
		ul{
			margin:0;
			padding:0;
			li{
				margin:0;
				padding:0;
				a{
					color:#fff;
					cursor: pointer;
					font-size:15px;
					font-weight:200;
				}
				a:hover{
					text-decoration:none;
					color:#146596;
				}
			}
			li.header{
				margin-bottom:20px;
				a{
					font-size:18px;
					font-weight:700;
				}
				a:hover{
					color:#fff;
				}
			}
			li:before{
				display:none;
			}
		}
	}
	.demo-trip{
		margin:0;
		display:flex;
		justify-content:center;
    	flex-flow: column;
    	align-items: center;
		h3{
			text-align:center;
			font-size:16px;
			max-width:150px;
			margin:15px 0 50px 0;
			font-weight:200;
		}
		img{
			margin: 0 auto;
			display: block;
		}
	}
}
@media screen and (max-width: 767px) {
	.information-social{
		margin:0;
		img,p{
			margin:0 auto;
			display:block;
			text-align:center;
		}
		p{
			margin-bottom:20px;
		}

		ul{
			text-align:center;
		}
	}

	.footer-menu-new{
		margin:0;
		ul{
			text-align:center;
			margin-bottom:15px!important;			
		}
	}
}
section.footer{
	background:#146596;
	display: flex;
	justify-content:center;
	align-items:center;
	height:100%;
		span{
			font-size:14px;
				 a{
					margin: 0!important;
				}
				a:hover{
					color:#149fda!important;
				}
				p{
					display: inline-block;
				}
		}
}
@media screen and (max-width: 768px) {
    section.footer{
    	padding:20px 0;
    	span{
    		span{
    			padding:20px 0 0 0;
    		}
    		p,span{
    			display: block;
    			text-align:center;
    			margin:0;
    		}
    	}
    }
}