.related-posts {
    background-color: #f3f3f4;
    padding:30px 0;
    .container {   
        .subscription > div {
            padding: 0px;
            margin-right: 40px;
            h3 {
                margin: 0;
                padding: 0;
                font-family: 'Open sans', sans-serif;
                font-weight: 300;
                color: black;
                font-size: 30px;
                line-height: 1.2;
            }
            form {
                input[type=email] {
                    margin-top: 20px;
                    line-height: 21px;
                    background: white;
                    font-size: 18px;
                    padding: 11px 6px;
                }
                ul.inputs-list {
                    margin: 0;
                    &.hs-error-msgs {
                        margin-bottom: 10px;
                    }
                }
                input[type=submit] {
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                    border-radius: 20px;
                    border: 1px solid #009fdc;
                    padding: 5px 20px;
                    min-height: 0;
                    margin: 20px 0;
                    &:hover {
                        background-color: white;
                        color: #009fdc;
                    }
                }
                label {
                    color: #73797d;
                    small {
                        color: #73797d;
                    }
                }
                .hs-error-msgs {
                    li {
                        padding:10px 6px;
                    }
                }
            }
        }
        .posts {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .post {
                background-color: white;
                width: 32%;
                figure {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    padding-bottom: 80%;
                    background-size: cover;
                    background-position: center;
                }
                .post-content {
                    padding: 15px;
                    span {
                        color: #909090;
                        font-size: 11px;
                    }
                    p {
                        margin: 10px 0 20px 0;
                        font-size: 17px;
                        line-height: 1.7;
                        color: #555555;
                    }
                    a {
                        display: inline-block;
                        font-size: 12px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: #009fdc;
                        border: 1px solid #009fdc;
                        border-radius: 20px;
                        padding: 5px 20px;
                        &:hover {
                            color: white;
                            background-color: #009fdc;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .related-posts-container .posts .post {
        width: 100%;
        margin-bottom: 20px;
    }
}